{% extends 'base2.html' %}{% load static %} {% block content %}
<style>

</style>

<body>
    <h1>Scan Codes for {{shelf}}</h1>
    <br/>
    <div class="container text-center">
        <div id="qr-reader"></div>
        <br>
        <div>
            <form onsubmit='spinner()' id='post-form' action="{% url 'scanner:scanner' %}" method="POST">{% csrf_token %}
                <input type="hidden" id='shelf' name='shelf' value="{{shelf}}">
                <label for="code">Auto Scan or Input Label</label>
                <input type="text" id="code" name='code' class="form-control" value="" required>
                <label for="qty">QTY</label>
                <input type="number" id='qty' name="qty" class="form-control">
                <br>
                <button id='btn' type="submit" class="btn btn-success">Add</button>
            </form>
        </div>
    </div>

    <script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>
    <script>
        function onScanSuccess(decodedText, decodedResult) {
            var result = decodedText;
            console.log(result);
            document.getElementById('code').value = result;

        }

        var html5QrcodeScanner = new Html5QrcodeScanner(
            "qr-reader", {
                fps: 10,
                qrbox: 125,
            });
        html5QrcodeScanner.render(onScanSuccess);

        $('#post-form').on('submit', function(event) {
            event.preventDefault();
            console.log("form submitted!") // sanity check
            create_post()
        });
        // AJAX for posting
        function create_post() {
            console.log("create post is working!") // sanity check
            $.ajax({
                url: "/scanner/", // the endpoint
                type: "POST", // http method
                data: {
                    code: $('#code').val(),
                    qty: $('#qty').val(),
                    shelf: $('#shelf').val(),

                    csrfmiddlewaretoken: '{{ csrf_token }}',
                }, // data sent with the post request

                // handle a successful response
                success: function() {
                    //console.log(code);
                    //console.log(qty);
                    console.log("success");
                    alert("Successfully added!"); // another sanity check
                },
                error: function(e) {
                    //console.log(code);
                    //console.log(qty);
                    console.log("error");
                    console.log(e); // another sanity check
                    alert("An Error occured, please make sure all details are correct");
                    // another sanity check
                },


            });
        };

        function spinner() {
            document.getElementById("").innerHTML = "<i class='fa fa-spin fa-spinner'></i> Loading...";
        }
    </script>
</body>

{%endblock%}