
{% extends 'base2.html' %}
{% load static %}
{% block content %}
{% load django_bootstrap5 %}
<style media="screen">
  button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
</style>

    <div class="container py-4">
      <h3>Upload</h3>
      <!-- <div id="qr-reader" style="width: 100%"></div> -->
    </div>
<div class="container">


    <form id = "myForm" class="upload-form2" action="{% url 'scanner:upload' %}" enctype = 'multipart/form-data' method="POST">{% csrf_token %}
      {% bootstrap_form form %}
      <button class = "btn btn-primary" type="submit" name="">Load</button>
    </form>
  </div>
    <script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>
    <script type="text/javascript">
//       function unlockAudio() {
//       const sound = new Audio("{% static 'audio/scan.wav' %}");
//
//       sound.play();
//       sound.pause();
//       sound.currentTime = 0;
//
//       document.body.removeEventListener('click', unlockAudio)
//       document.body.removeEventListener('touchstart', unlockAudio)
//   }
//
//     document.body.addEventListener('click', unlockAudio);
//     document.body.addEventListener('touchstart', unlockAudio);
//
//     function soundNotification() {
//     const sound = new Audio("{% static 'audio/scan.wav' %}");
//
//     const promise = sound.play();
//
//     if (promise !== undefined) {
//         promise.then(() => {}).catch(error => console.error);
//     }
// }
    var sound = new Audio("{% static 'audio/scan.wav' %}");
    function onScanSuccess(decodedText, decodedResult) {
      sound.play()
      console.log('Code scanned = ${decodedText}', decodedResult);
      var code = ('Code scanned = ${decodedText}', decodedResult);
      document.getElementById("id_barcode_manually").value = decodedText;

    }
    var html5QrcodeScanner = new Html5QrcodeScanner(
      "qr-reader", { fps: 15, qrbox: 180 });
    html5QrcodeScanner.render(onScanSuccess);

    $(document).ready(function(){
      var productForm = $(".upload-form")

      productForm.submit(function(event){
        event.preventDefault();
        var thisForm = $(this)
        var actionEndpoint = thisForm.attr('action');
        var httpMethod = thisForm.attr('method');
        var formData =  thisForm.serialize();

        $.ajax({
          url: actionEndpoint,
          method:httpMethod,
          data:formData,
          success: function(data){
            console.log("success")
            document.getElementById("myForm").reset()
            $.confirm({
              title: 'Scan Successful',
              content: '',
              type: 'green',
              typeAnimated: true,
              buttons: {
                  tryAgain: {
                      text: 'Continue',
                      btnClass: 'btn-green',
                      action: function(){
                      }
                  },
              }
          });

          },
          error: function(errorData){
            console.log("Error",errorData)
            $.confirm({
              title: 'Encountered an error!',
              content: 'Something went downhill, this may be serious',
              type: 'red',
              typeAnimated: true,
              buttons: {
                  tryAgain: {
                      text: 'Try again',
                      btnClass: 'btn-red',
                      action: function(){
                      }
                  },
                  close: function () {
                  }
              }
          });

          }

        })



      })

    })
    </script>
{%endblock%}
